BEE.HoatDong/Service References/SMSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkClientResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSMSStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecureCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSMSStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateSMSStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendSMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createBrandName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createBrandNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createBrandNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="secureCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="topupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBalanceResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBrandNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBrandNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBrandNamesResult" type="tns:ArrayOfBrandNames" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBrandNames">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BrandNames" nillable="true" type="tns:BrandNames" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BrandNames">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAD" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="smsStatus" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListSMSResult" type="tns:ArrayOfMessages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Messages" nillable="true" type="tns:Messages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Messages">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsCount" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSGUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListSMSByPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="smsStatus" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="skip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListSMSByPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListSMSByPageResult" type="tns:ArrayOfMessages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTopupHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTopupHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTopupHistoryResult" type="tns:ArrayOfTopUpHistory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTopUpHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TopUpHistory" nillable="true" type="tns:TopUpHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TopUpHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TopUpDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="checkClientSoapIn">
    <wsdl:part name="parameters" element="tns:checkClient" />
  </wsdl:message>
  <wsdl:message name="checkClientSoapOut">
    <wsdl:part name="parameters" element="tns:checkClientResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateSMSStatus" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateSMSStatusResponse" />
  </wsdl:message>
  <wsdl:message name="sendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="createBrandNameSoapIn">
    <wsdl:part name="parameters" element="tns:createBrandName" />
  </wsdl:message>
  <wsdl:message name="createBrandNameSoapOut">
    <wsdl:part name="parameters" element="tns:createBrandNameResponse" />
  </wsdl:message>
  <wsdl:message name="topupSoapIn">
    <wsdl:part name="parameters" element="tns:topup" />
  </wsdl:message>
  <wsdl:message name="topupSoapOut">
    <wsdl:part name="parameters" element="tns:topupResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getBrandNames" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getBrandNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getListSMSSoapIn">
    <wsdl:part name="parameters" element="tns:getListSMS" />
  </wsdl:message>
  <wsdl:message name="getListSMSSoapOut">
    <wsdl:part name="parameters" element="tns:getListSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageSoapIn">
    <wsdl:part name="parameters" element="tns:getListSMSByPage" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageSoapOut">
    <wsdl:part name="parameters" element="tns:getListSMSByPageResponse" />
  </wsdl:message>
  <wsdl:message name="getTopupHistorySoapIn">
    <wsdl:part name="parameters" element="tns:getTopupHistory" />
  </wsdl:message>
  <wsdl:message name="getTopupHistorySoapOut">
    <wsdl:part name="parameters" element="tns:getTopupHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="about">
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <wsdl:input message="tns:checkClientSoapIn" />
      <wsdl:output message="tns:checkClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <wsdl:input message="tns:updateSMSStatusSoapIn" />
      <wsdl:output message="tns:updateSMSStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSSoapIn" />
      <wsdl:output message="tns:sendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <wsdl:input message="tns:createBrandNameSoapIn" />
      <wsdl:output message="tns:createBrandNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:input message="tns:topupSoapIn" />
      <wsdl:output message="tns:topupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceSoapIn" />
      <wsdl:output message="tns:getBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <wsdl:input message="tns:getBrandNamesSoapIn" />
      <wsdl:output message="tns:getBrandNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <wsdl:input message="tns:getListSMSSoapIn" />
      <wsdl:output message="tns:getListSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <wsdl:input message="tns:getListSMSByPageSoapIn" />
      <wsdl:output message="tns:getListSMSByPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <wsdl:input message="tns:getTopupHistorySoapIn" />
      <wsdl:output message="tns:getTopupHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <soap:operation soapAction="http://tempuri.org/checkClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <soap:operation soapAction="http://tempuri.org/updateSMSStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="http://tempuri.org/sendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <soap:operation soapAction="http://tempuri.org/createBrandName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap:operation soapAction="http://tempuri.org/topup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <soap:operation soapAction="http://tempuri.org/getBrandNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <soap:operation soapAction="http://tempuri.org/getListSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <soap:operation soapAction="http://tempuri.org/getListSMSByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <soap:operation soapAction="http://tempuri.org/getTopupHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <soap12:operation soapAction="http://tempuri.org/checkClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <soap12:operation soapAction="http://tempuri.org/updateSMSStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap12:operation soapAction="http://tempuri.org/sendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <soap12:operation soapAction="http://tempuri.org/createBrandName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap12:operation soapAction="http://tempuri.org/topup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <soap12:operation soapAction="http://tempuri.org/getBrandNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <soap12:operation soapAction="http://tempuri.org/getListSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <soap12:operation soapAction="http://tempuri.org/getListSMSByPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <soap12:operation soapAction="http://tempuri.org/getTopupHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>