Backup/BeeRem/Service References/SMSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkClientResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSMSStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecureCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSMSStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateSMSStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendSMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createBrandName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createBrandNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createBrandNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="secureCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="topupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBalanceResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBrandNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBrandNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBrandNamesResult" type="tns:ArrayOfBrandNames" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBrandNames">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BrandNames" nillable="true" type="tns:BrandNames" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BrandNames">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAD" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="smsStatus" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListSMSResult" type="tns:ArrayOfMessages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Messages" nillable="true" type="tns:Messages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Messages">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsCount" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSGUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListSMSByPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="smsStatus" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="skip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListSMSByPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListSMSByPageResult" type="tns:ArrayOfMessages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTopupHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTopupHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTopupHistoryResult" type="tns:ArrayOfTopUpHistory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTopUpHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TopUpHistory" nillable="true" type="tns:TopUpHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TopUpHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TopUpDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="decimal" type="s:decimal" />
      <s:element name="ArrayOfBrandNames" nillable="true" type="tns:ArrayOfBrandNames" />
      <s:element name="ArrayOfMessages" nillable="true" type="tns:ArrayOfMessages" />
      <s:element name="ArrayOfTopUpHistory" nillable="true" type="tns:ArrayOfTopUpHistory" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="checkClientSoapIn">
    <wsdl:part name="parameters" element="tns:checkClient" />
  </wsdl:message>
  <wsdl:message name="checkClientSoapOut">
    <wsdl:part name="parameters" element="tns:checkClientResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateSMSStatus" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateSMSStatusResponse" />
  </wsdl:message>
  <wsdl:message name="sendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="createBrandNameSoapIn">
    <wsdl:part name="parameters" element="tns:createBrandName" />
  </wsdl:message>
  <wsdl:message name="createBrandNameSoapOut">
    <wsdl:part name="parameters" element="tns:createBrandNameResponse" />
  </wsdl:message>
  <wsdl:message name="topupSoapIn">
    <wsdl:part name="parameters" element="tns:topup" />
  </wsdl:message>
  <wsdl:message name="topupSoapOut">
    <wsdl:part name="parameters" element="tns:topupResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getBrandNames" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getBrandNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getListSMSSoapIn">
    <wsdl:part name="parameters" element="tns:getListSMS" />
  </wsdl:message>
  <wsdl:message name="getListSMSSoapOut">
    <wsdl:part name="parameters" element="tns:getListSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageSoapIn">
    <wsdl:part name="parameters" element="tns:getListSMSByPage" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageSoapOut">
    <wsdl:part name="parameters" element="tns:getListSMSByPageResponse" />
  </wsdl:message>
  <wsdl:message name="getTopupHistorySoapIn">
    <wsdl:part name="parameters" element="tns:getTopupHistory" />
  </wsdl:message>
  <wsdl:message name="getTopupHistorySoapOut">
    <wsdl:part name="parameters" element="tns:getTopupHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="aboutHttpGetIn" />
  <wsdl:message name="aboutHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkClientHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkClientHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="oldPass" type="s:string" />
    <wsdl:part name="newPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusHttpGetIn">
    <wsdl:part name="SMSGUID" type="s:string" />
    <wsdl:part name="SMSStatus" type="s:string" />
    <wsdl:part name="ServiceTypeID" type="s:string" />
    <wsdl:part name="SecureCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sendSMSHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="phoneNumber" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="smsMessage" type="s:string" />
    <wsdl:part name="smsGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="createBrandNameHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="createBrandNameHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="topupHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="secureCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="topupHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBrandNames" />
  </wsdl:message>
  <wsdl:message name="getListSMSHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="smsStatus" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getListSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="smsStatus" type="s:string" />
    <wsdl:part name="take" type="s:string" />
    <wsdl:part name="skip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="getTopupHistoryHttpGetIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTopupHistoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTopUpHistory" />
  </wsdl:message>
  <wsdl:message name="aboutHttpPostIn" />
  <wsdl:message name="aboutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkClientHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkClientHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="oldPass" type="s:string" />
    <wsdl:part name="newPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusHttpPostIn">
    <wsdl:part name="SMSGUID" type="s:string" />
    <wsdl:part name="SMSStatus" type="s:string" />
    <wsdl:part name="ServiceTypeID" type="s:string" />
    <wsdl:part name="SecureCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateSMSStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sendSMSHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="phoneNumber" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="smsMessage" type="s:string" />
    <wsdl:part name="smsGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="createBrandNameHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="createBrandNameHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="topupHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="secureCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="topupHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBrandNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBrandNames" />
  </wsdl:message>
  <wsdl:message name="getListSMSHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="smsStatus" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getListSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="smsStatus" type="s:string" />
    <wsdl:part name="take" type="s:string" />
    <wsdl:part name="skip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getListSMSByPageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="getTopupHistoryHttpPostIn">
    <wsdl:part name="clientNo" type="s:string" />
    <wsdl:part name="clientPass" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTopupHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTopUpHistory" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="about">
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <wsdl:input message="tns:checkClientSoapIn" />
      <wsdl:output message="tns:checkClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <wsdl:input message="tns:updateSMSStatusSoapIn" />
      <wsdl:output message="tns:updateSMSStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSSoapIn" />
      <wsdl:output message="tns:sendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <wsdl:input message="tns:createBrandNameSoapIn" />
      <wsdl:output message="tns:createBrandNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:input message="tns:topupSoapIn" />
      <wsdl:output message="tns:topupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceSoapIn" />
      <wsdl:output message="tns:getBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <wsdl:input message="tns:getBrandNamesSoapIn" />
      <wsdl:output message="tns:getBrandNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <wsdl:input message="tns:getListSMSSoapIn" />
      <wsdl:output message="tns:getListSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <wsdl:input message="tns:getListSMSByPageSoapIn" />
      <wsdl:output message="tns:getListSMSByPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <wsdl:input message="tns:getTopupHistorySoapIn" />
      <wsdl:output message="tns:getTopupHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="about">
      <wsdl:input message="tns:aboutHttpGetIn" />
      <wsdl:output message="tns:aboutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <wsdl:input message="tns:checkClientHttpGetIn" />
      <wsdl:output message="tns:checkClientHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordHttpGetIn" />
      <wsdl:output message="tns:changePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <wsdl:input message="tns:updateSMSStatusHttpGetIn" />
      <wsdl:output message="tns:updateSMSStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSHttpGetIn" />
      <wsdl:output message="tns:sendSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <wsdl:input message="tns:createBrandNameHttpGetIn" />
      <wsdl:output message="tns:createBrandNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:input message="tns:topupHttpGetIn" />
      <wsdl:output message="tns:topupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceHttpGetIn" />
      <wsdl:output message="tns:getBalanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <wsdl:input message="tns:getBrandNamesHttpGetIn" />
      <wsdl:output message="tns:getBrandNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <wsdl:input message="tns:getListSMSHttpGetIn" />
      <wsdl:output message="tns:getListSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <wsdl:input message="tns:getListSMSByPageHttpGetIn" />
      <wsdl:output message="tns:getListSMSByPageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <wsdl:input message="tns:getTopupHistoryHttpGetIn" />
      <wsdl:output message="tns:getTopupHistoryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="about">
      <wsdl:input message="tns:aboutHttpPostIn" />
      <wsdl:output message="tns:aboutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <wsdl:input message="tns:checkClientHttpPostIn" />
      <wsdl:output message="tns:checkClientHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordHttpPostIn" />
      <wsdl:output message="tns:changePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <wsdl:input message="tns:updateSMSStatusHttpPostIn" />
      <wsdl:output message="tns:updateSMSStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSHttpPostIn" />
      <wsdl:output message="tns:sendSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <wsdl:input message="tns:createBrandNameHttpPostIn" />
      <wsdl:output message="tns:createBrandNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:input message="tns:topupHttpPostIn" />
      <wsdl:output message="tns:topupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceHttpPostIn" />
      <wsdl:output message="tns:getBalanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <wsdl:input message="tns:getBrandNamesHttpPostIn" />
      <wsdl:output message="tns:getBrandNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <wsdl:input message="tns:getListSMSHttpPostIn" />
      <wsdl:output message="tns:getListSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <wsdl:input message="tns:getListSMSByPageHttpPostIn" />
      <wsdl:output message="tns:getListSMSByPageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <wsdl:input message="tns:getTopupHistoryHttpPostIn" />
      <wsdl:output message="tns:getTopupHistoryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <soap:operation soapAction="http://tempuri.org/checkClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <soap:operation soapAction="http://tempuri.org/updateSMSStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="http://tempuri.org/sendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <soap:operation soapAction="http://tempuri.org/createBrandName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap:operation soapAction="http://tempuri.org/topup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <soap:operation soapAction="http://tempuri.org/getBrandNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <soap:operation soapAction="http://tempuri.org/getListSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <soap:operation soapAction="http://tempuri.org/getListSMSByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <soap:operation soapAction="http://tempuri.org/getTopupHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <soap12:operation soapAction="http://tempuri.org/checkClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <soap12:operation soapAction="http://tempuri.org/updateSMSStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap12:operation soapAction="http://tempuri.org/sendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <soap12:operation soapAction="http://tempuri.org/createBrandName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap12:operation soapAction="http://tempuri.org/topup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <soap12:operation soapAction="http://tempuri.org/getBrandNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <soap12:operation soapAction="http://tempuri.org/getListSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <soap12:operation soapAction="http://tempuri.org/getListSMSByPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <soap12:operation soapAction="http://tempuri.org/getTopupHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="about">
      <http:operation location="/about" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <http:operation location="/checkClient" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <http:operation location="/changePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <http:operation location="/updateSMSStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <http:operation location="/createBrandName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <http:operation location="/topup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="/getBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <http:operation location="/getBrandNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <http:operation location="/getListSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <http:operation location="/getListSMSByPage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <http:operation location="/getTopupHistory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="about">
      <http:operation location="/about" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClient">
      <http:operation location="/checkClient" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <http:operation location="/changePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSMSStatus">
      <http:operation location="/updateSMSStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBrandName">
      <http:operation location="/createBrandName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <http:operation location="/topup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="/getBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrandNames">
      <http:operation location="/getBrandNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMS">
      <http:operation location="/getListSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSMSByPage">
      <http:operation location="/getListSMSByPage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopupHistory">
      <http:operation location="/getTopupHistory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://sms.dip.vn/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>